/* Estilos Generales */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@100;200;300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */

/* Main */

.titulo{
    font-family: 'Playfair Display', serif;
    background-color: rosybrown;
    text-align: center;
    color: white; 

}

.nav{
    background-color: black;
    color: white;
    list-style: none;
    text-align: center;
    padding: 20 px 0 20px 0;
}
.nav>li{
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav>li>a{
    text-decoration: none;
    color: white;
}

.nav>li>a:hoverr{
    color: white;
}

.banner{
    width: 100%;
    display: block;
}

.banner > .img{
    width: 100%;
    display: block;
}

.section{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.img2{
    text-align: center;
}

footer{
    text-align: center;
}
